<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sina.weibo.sdk">
    <application android:allowBackup="true">

        <!--<activity-->
            <!--android:name="com.sina.weibo.sdk.demo.WBShareActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait" >-->
            <!--<intent-filter>-->
            <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <!--</activity>-->
    </application>

</manifest>
